*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
    height: 100vh;
    background-color: rgb(66, 174, 224);
}

.game{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    /* height: 24vh; */
    width: 18.5vw;
    gap: 0.5rem;
    /* border: 1px solid; */
}

.box{
    height: 9vh;
    width:  9vh;
    border-radius: 10px;
    font-size: 5vmin;
    border: none;
    background-color: rgb(26, 40, 53);
    color: white;
}

#resetbutton{
    height: 5vh;
width:  15vh;
font-size: 1.2rem;
border-radius: 5px;
    background-color: rgb(138, 93, 223);
    font-family: 'Courier New', Courier, monospace;
}

#newgmebutton{
        height: 5vh;
width:  15vh;
font-size: 1.2rem;
border-radius: 5px;
font-family: 'Courier New', Courier, monospace;
    background-color: rgb(7, 164, 255);
}

.winner{
    display: flex;
    justify-content: center;
    /* padding: 0px 15px ; */
    height: 8vh;
    /* width: 15vw; */
    /* border: 1px solid rgb(255, 255, 255); */
}
#winneris{
    font-size: 3rem;
  color: rgb(233, 233, 233);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*  */
.hide{
display: none;
}